@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var formHeader = Model?.Content.Value<string>("formHeader");
    var formIngress = Model?.Content.Value<string>("formIngress");
        
    var bigForm = Model?.Content.Value<Umbraco.Cms.Core.Models.Blocks.BlockListModel>("bigForm");
}

 <form class="call-back-form">
    <div class="form-header bg-primary">
        <h3>@formHeader</h3>
    </div>
    <div class="form-content">
        <p class="form-ingress">@formIngress</p>
       @Html.GetBlockListHtml(bigForm)
    </div>
</form>