@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var formHeader = Model?.Content.Value<string>("formHeader");
    var formSubtitle = Model?.Content.Value<string>("formSubtitle") ?? "";
    var formIngress = Model?.Content.Value<string>("formIngress");

    var bigForm = Model?.Content.Value<Umbraco.Cms.Core.Models.Blocks.BlockListModel>("bigForm");
}

<form class="call-back-form" id="contact-form" novalidate>

    <div class="form-header bg-primary">
        <h6>@formSubtitle</h6>
        <h2>@formHeader</h2>
    </div>

    <div class="form-content">
        <p class="form-ingress">@formIngress</p>

        @using (Html.BeginUmbracoForm("SubmitForm", "ContactSurface", FormMethod.Post))
        {
            @Html.GetBlockListHtml(bigForm)
        }

        <div class="form-success-message" style="display:none;"></div>

    </div>

@*     <div class="error-container">
        <div id="phone-error" class="form-error-message" style="display:none;"></div>
        <div id="name-error" class="form-error-message" style="display:none;"></div>
        <div id="email-error" class="form-error-message" style="display:none;"></div>
    </div> *@

</form>

<script src="~/scripts/submitCallbackForm.js"></script>