<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ee424ad0-760d-4857-b0f5-c3c04588e21e" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>modularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aa15135c-a49a-4546-b584-494d1874dec0">modularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5f205c5d-ec6f-4865-bfc7-20a6cec21858" SortOrder="0">project</ContentType>
    <ContentType Key="4eaf2b96-ebf5-4ba7-ab52-e220b5ff377b" SortOrder="1">projectItem</ContentType>
    <ContentType Key="1f6ae265-6c28-4055-9689-9e6fc472d3d2" SortOrder="2">services</ContentType>
    <ContentType Key="b75ae488-3d31-4bfe-8914-d0eb61bc9295" SortOrder="3">servicesDetails</ContentType>
    <ContentType Key="ee424ad0-760d-4857-b0f5-c3c04588e21e" SortOrder="4">modularPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>92c6b600-b154-4121-a382-d7599822f7cb</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>b417a30f-2e75-4c98-a0da-b6d902534f01</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/pageLayout">Page Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f4379ef2-ca43-41e7-8cf3-e5740e3d1dc3</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>55999e9c-6abd-4e7b-8560-e60158a6e122</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>5771ccae-600c-4cac-8427-f1f5ff9b8fde</Key>
      <Caption>Page Layout</Caption>
      <Alias>content/pageLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>