<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1f6ae265-6c28-4055-9689-9e6fc472d3d2" Alias="services" Level="2">
  <Info>
    <Name>Services</Name>
    <Icon>icon-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>For listing service items</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Services</Folder>
    <Compositions />
    <DefaultTemplate>services</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c720f307-ca9f-4e91-85a5-8d4f81b0d334">services</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b75ae488-3d31-4bfe-8914-d0eb61bc9295" SortOrder="0">servicesDetails</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>5e07742a-5c66-4e1a-b2b9-654c2796c449</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9a9c5703-4e59-4ec5-8462-21785b0a44d8</Key>
      <Name>Services Details</Name>
      <Alias>servicesDetails</Alias>
      <Definition>8cb7a684-173c-4f78-8d07-ecd8025f28d9</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>645e4c61-970a-4144-9b4c-3da17eb1e076</Key>
      <Name>Subtitle</Name>
      <Alias>subtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>031344e9-20e9-4360-82d3-c8124b74d926</Key>
      <Caption>Content</Caption>
      <Alias>content/content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>fcbbfaeb-a999-42ad-856b-bee4b961f9c5</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>