<?xml version="1.0" encoding="utf-8"?>
<Content Key="68afe901-8b86-4ac6-a6ab-df5bfaecb952" Alias="Projects" Level="2">
  <Info>
    <Parent Key="f99b58f4-0d51-43b6-99ff-a19269b7b20f">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>project</ContentType>
    <CreateDate>2024-09-07T20:57:40</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2bcbee54-9095-4944-96fc-764c290ddfbc">project</Template>
  </Info>
  <Properties>
    <errorMessage>
      <Value><![CDATA[Mail required]]></Value>
    </errorMessage>
    <formBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "dd7fb48b-c255-43dd-88cf-32297a8bc030",
    "mediaKey": "112522f9-015a-4fab-9611-5833d06893c9",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </formBackgroundImage>
    <formHeadline>
      <Value><![CDATA[How can we help you?]]></Value>
    </formHeadline>
    <formSubtitle>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </formSubtitle>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
    <projectContent>
      <Value><![CDATA[umb://document/1a21987475ee468b8c809649e40e3db5]]></Value>
    </projectContent>
    <subtitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </subtitle>
  </Properties>
</Content>