<?xml version="1.0" encoding="utf-8"?>
<Content Key="95bfdb6e-70e4-4d8d-9bea-b345bd4b661f" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-04T09:19:52</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <breadcrumbsImage1>
      <Value><![CDATA[[
  {
    "key": "ffa410b6-bd08-4382-a0c6-f5afedc941e7",
    "mediaKey": "7ec7b564-0be8-4a00-b56a-b5b618102fc9",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </breadcrumbsImage1>
    <breadcrumbsImage2>
      <Value><![CDATA[[
  {
    "key": "1d361fbc-d108-403a-b971-fdb11e161b0a",
    "mediaKey": "a3c11561-5f27-4206-b903-397aa25b8890",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </breadcrumbsImage2>
    <contactBackgroundImage1>
      <Value><![CDATA[[
  {
    "key": "db2ab3f3-4a4a-45a2-9c87-77d65fb8a795",
    "mediaKey": "b0e0d1d8-e71f-4f60-9427-3f017ab0b419",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImage1>
    <contactBackgroundImage2>
      <Value><![CDATA[[
  {
    "key": "0b0ef289-4fd1-4eb1-988e-588d8ecabcf3",
    "mediaKey": "2df10ba2-2ddd-4619-b891-cdd1554d788d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImage2>
    <contactHeader>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactHeader>
    <contactPortaitImage>
      <Value><![CDATA[[
  {
    "key": "33c17917-6d07-4a73-836f-016f6ede6858",
    "mediaKey": "76176ea4-ca68-494a-94ad-377833f8cb36",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactPortaitImage>
    <formBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "517f00d0-0909-4f6e-aa18-4d47978f3065",
    "mediaKey": "112522f9-015a-4fab-9611-5833d06893c9",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </formBackgroundImage>
    <formHeadline>
      <Value><![CDATA[How can we help you?]]></Value>
    </formHeadline>
    <formImage>
      <Value><![CDATA[[
  {
    "key": "d4505343-b4f5-476c-bec9-457b35edb1ad",
    "mediaKey": "1f43e58f-d18b-473c-89e8-3aa308a0c4fc",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </formImage>
    <formIngress>
      <Value><![CDATA[Learn more about our journey and mission by filling out the form below.]]></Value>
    </formIngress>
    <formSubtitle>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </formSubtitle>
    <formTitle>
      <Value><![CDATA[About us]]></Value>
    </formTitle>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhoneNumber>
    <pageTitle>
      <Value><![CDATA[Contact]]></Value>
    </pageTitle>
    <serviceForm>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "fd8fb1f2-e40f-45d4-abeb-628582e3da9c",
      "udi": "umb://element/184ad685c67e453fb9e2860a4488b221",
      "uniqueName": "Name",
      "placeholderText": "Name",
      "inputType": "[\u0022text\u0022]",
      "isRequired": 1,
      "errorMessage": "Name required"
    },
    {
      "contentTypeKey": "fd8fb1f2-e40f-45d4-abeb-628582e3da9c",
      "udi": "umb://element/79dd8db2087b4844a666ffa43710f87b",
      "uniqueName": "Email",
      "placeholderText": "Email",
      "inputType": "[\u0022email\u0022]",
      "errorMessage": "Please input a valid email",
      "isRequired": 1
    },
    {
      "contentTypeKey": "6890b638-94a6-4709-8608-47f7ea060d1e",
      "udi": "umb://element/238038d9adf642bf95ac3c5f59409284",
      "uniqueName": "Question",
      "placeholderText": "Question",
      "isRequired": 1,
      "errorMessage": "Message is required"
    },
    {
      "contentTypeKey": "f32b10f3-9687-417b-91d5-e89eb3e32a5a",
      "udi": "umb://element/89aee3bafc7e4ed3930f2584b1880059",
      "buttonColor": "{\r\n  \u0022label\u0022: \u0022Primary\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}",
      "buttonText": "Submit",
      "buttonType": "[\u0022submit\u0022]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/184ad685c67e453fb9e2860a4488b221",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/79dd8db2087b4844a666ffa43710f87b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/238038d9adf642bf95ac3c5f59409284",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/89aee3bafc7e4ed3930f2584b1880059",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceForm>
    <serviceFormTitle>
      <Value><![CDATA[Have a question? ]]></Value>
    </serviceFormTitle>
    <siteFavicon>
      <Value><![CDATA[[
  {
    "key": "4943dfec-c628-4237-9f93-243914ac68fa",
    "mediaKey": "a3ea6d79-86f6-4fe3-8eb0-c9bae0cab5a3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteFavicon>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "5360fd8b-6412-43ad-be2a-ca882298716b",
    "mediaKey": "3b4b24c3-267b-42f6-85fa-943c7ec0d5c2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix Inc.]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions for You]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0cbe4d48-b440-4936-981e-f5b8e1100161",
      "udi": "umb://element/1652701349a34b79a830240687b6dadf",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "0cbe4d48-b440-4936-981e-f5b8e1100161",
      "udi": "umb://element/5ac08dad195d443caab22f42f4359ac4",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "https://linkedin.com/onatrix"
    },
    {
      "contentTypeKey": "0cbe4d48-b440-4936-981e-f5b8e1100161",
      "udi": "umb://element/bad85a32c43f4286b3175b5233aaa072",
      "platformName": "[\u0022Instagram\u0022]",
      "platformAccountUrl": "https://instagram.com/onatrix"
    },
    {
      "contentTypeKey": "0cbe4d48-b440-4936-981e-f5b8e1100161",
      "udi": "umb://element/d0cced0af19944aabf41763adbb4b322",
      "platformName": "[\u0022X\u0022]",
      "platformAccountUrl": "https://x.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1652701349a34b79a830240687b6dadf",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/5ac08dad195d443caab22f42f4359ac4",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/bad85a32c43f4286b3175b5233aaa072",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/d0cced0af19944aabf41763adbb4b322",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>