<?xml version="1.0" encoding="utf-8"?>
<DataType Key="652cecd4-e5b0-4e96-bc41-504f4ec26702" Alias="Blog -  - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>Blog -  - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "4eaf2b96-ebf5-4ba7-ab52-e220b5ff377b",
  "maxNumber": 0,
  "minNumber": 0,
  "showOpenButton": false
}]]></Config>
</DataType>