<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc35876f-ff1c-4649-a590-5363d8acd3ec" Alias="Button - Button Types" Level="1">
  <Info>
    <Name>Button - Button Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "submit",
    "reset"
  ]
}]]></Config>
</DataType>