<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b79abfc9-db73-416b-9861-6815c14136cf" Alias="Contact Page - Contact Form - Block List" Level="1">
  <Info>
    <Name>Contact Page - Contact Form - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fd8fb1f2-e40f-45d4-abeb-628582e3da9c",
      "label": "InputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "5a7bfe8c-f53e-49b5-a5c7-bafdb897198f",
      "label": "InputPassword - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "6890b638-94a6-4709-8608-47f7ea060d1e",
      "label": "InputTextArea - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "f32b10f3-9687-417b-91d5-e89eb3e32a5a",
      "label": "Button - {=buttonType}"
    },
    {
      "contentElementTypeKey": "d545d2b8-13de-45c8-815c-ae35c9a3f3b4",
      "label": "DropDown Menu"
    }
  ]
}]]></Config>
</DataType>