<?xml version="1.0" encoding="utf-8"?>
<DataType Key="817a313b-1458-40c4-acd9-c999dd346a47" Alias="FormComponent - Email Input - Email Property Editor UI" Level="1">
  <Info>
    <Name>FormComponent - Email Input - Email Property Editor UI</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>