<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c30b15d5-35b5-4515-b724-c8e21b306bc9" Alias="Image Slider - Slides" Level="1">
  <Info>
    <Name>Image Slider - Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fd9592b1-6e56-45bb-91da-e6af45c275ba",
      "label": "**slide item** - {=imageDescription}"
    }
  ]
}]]></Config>
</DataType>