<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8a3bf8d3-8af1-498e-9298-05efe5c05793" Alias="InputText - Input Type" Level="1">
  <Info>
    <Name>InputText - Input Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "phone"
  ]
}]]></Config>
</DataType>