<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca90c950-0aff-4e72-b976-a30b1ac57dad" Alias="Richtext editor" Level="1">
  <Info>
    <Name>Richtext editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a51a846f-4595-42f8-a985-ba43d831a92b",
      "label": "Heading 1"
    },
    {
      "contentElementTypeKey": "c10e8b30-7a6a-4733-ac20-d6766027eec3",
      "label": "Heading 2"
    },
    {
      "contentElementTypeKey": "1f86085e-b4dc-49ab-8c22-fc4f03d381dd",
      "label": "Heading 3"
    },
    {
      "contentElementTypeKey": "ec8935dc-1c69-4355-be70-c49ee235eb1c",
      "label": "Heading 4"
    },
    {
      "contentElementTypeKey": "cc2968ae-2f8d-4519-a4dd-84f42659ed97",
      "label": "Heading 5"
    },
    {
      "contentElementTypeKey": "9d902a88-f61f-4ff8-b1e2-bad701bdba4d",
      "label": "Heading 6"
    },
    {
      "contentElementTypeKey": "055c41e6-90b2-4a37-a841-2b376edc234f",
      "label": "Quotation"
    },
    {
      "contentElementTypeKey": "de5932e6-670d-44d8-abfe-4e8dd30f807c",
      "label": "Paragraph"
    },
    {
      "contentElementTypeKey": "2cdb04d9-84fa-421f-b295-07838c18ce04",
      "label": "Link"
    },
    {
      "contentElementTypeKey": "f2e91962-0dcb-40f0-93d4-ff88ea63157e",
      "label": "Button Link"
    }
  ],
  "maxImageSize": 0,
  "mode": "classic",
  "stylesheets": [
    "/main.css"
  ],
  "toolbar": [
    "undo",
    "redo",
    "cut",
    "copy",
    "paste",
    "styles",
    "fontname",
    "fontsize",
    "forecolor",
    "backcolor",
    "blockquote",
    "formatblock",
    "bold",
    "italic",
    "underline",
    "alignleft",
    "aligncenter",
    "alignright",
    "alignjustify",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "link",
    "umbblockpicker"
  ]
}]]></Config>
</DataType>