<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8cb7a684-173c-4f78-8d07-ecd8025f28d9" Alias="Services  - Content Picker" Level="1">
  <Info>
    <Name>Services  - Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 0,
  "minNumber": 0
}]]></Config>
</DataType>