<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89e8ed44-9a51-4c72-ad14-3bce89e57bad" Alias="Settings Page - Social Media Platforms " Level="1">
  <Info>
    <Name>Settings Page - Social Media Platforms </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0cbe4d48-b440-4936-981e-f5b8e1100161",
      "label": "**{=platformName}** - {=platformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>