<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91edd26b-6339-4f7c-bd7f-65203c8baae2" Alias="Settings Page -  - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Settings Page -  - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fd8fb1f2-e40f-45d4-abeb-628582e3da9c",
      "label": "Mail Input"
    }
  ]
}]]></Config>
</DataType>