<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e396c1e2-0a3c-42be-a540-e0341884f439" Alias="Social Media - Dropdown " Level="1">
  <Info>
    <Name>Social Media - Dropdown </Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "LinkedIn",
    "TikTok",
    "YouTube",
    "X"
  ]
}]]></Config>
</DataType>