<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dcecad42-50ba-4327-b0c1-de36c365a3fa" Alias="Team Slider Small" Level="1">
  <Info>
    <Name>Team Slider Small</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a1051c88-94b1-4ced-9437-715b6af790f4",
      "label": "Small Slider - **{=staffName}**"
    }
  ]
}]]></Config>
</DataType>