<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16c47dc3-355a-45e9-99f0-98c6d81f5fd1" Alias="Team Slider Item - Block List " Level="1">
  <Info>
    <Name>Team Slider Item - Block List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7354fd02-c997-425b-bee5-947664702e7f",
      "label": "Slider - **{=staffName}**"
    }
  ]
}]]></Config>
</DataType>