@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;

    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;

    var serviceForm = settings?.Value<Umbraco.Cms.Core.Models.Blocks.BlockListModel>("serviceForm");
}

<section class="services-details bg-light" id="details">
    <div class="container">
        <div class="top-container">

            @using (Html.BeginUmbracoForm("SubmitSmallForm", "ContactSurface", FormMethod.Post, new { novalidate = "novalidate" }))
            {
                @await Html.PartialAsync("partials/static/smallForm.cshtml")
            }
            <div class="main-content">
                @Model?.Value("mainContent")
            </div>
        </div>
        <div id="form-section" class="bottom-container">
            <h4>Have a question?</h4>
            <form id="serviceForm" novalidate>
                @using (Html.BeginUmbracoForm("SubmitServiceForm", "ContactSurface", FormMethod.Post, new { novalidate = "novalidate" }))
                {
                    @Html.GetBlockListHtml(serviceForm)
                }
            </form>
            <div class="serviceForm-success-message" style="display:none;">Testar</div>
        </div>
    </div>
</section>

<script src="~/scripts/submitServiceForm.js"></script>

