<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae062e3f-824d-4915-abe8-e3f1018acf5a" Alias="Aaron-lambert-team.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AaronLambertTeamsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:13:02</CreateDate>
    <NodeName Default="Aaron-lambert-team.svg (1)" />
    <SortOrder>95</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zwjlitcw/aaron-lambert-team.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>