<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfdfc81f-624c-4f01-afbc-dcf244e9dbb9" Alias="Aaron-lambert-team.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AaronLambertTeamsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T12:12:10</CreateDate>
    <NodeName Default="Aaron-lambert-team.svg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3v0h0lkx/aaron-lambert-team.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>