<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1763aed-9a19-439b-80a7-af9337af7f62" Alias="about-us-mail.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aboutUsMailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T15:47:29</CreateDate>
    <NodeName Default="about-us-mail.svg" />
    <SortOrder>117</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d4dniayc/about-us-mail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>