<?xml version="1.0" encoding="utf-8"?>
<Media Key="a78553ac-3b96-48fc-ae5d-ea614472ad8f" Alias="Aj-carter-team.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AjCarterTeamsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T12:11:48</CreateDate>
    <NodeName Default="Aj-carter-team.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l1xcormn/aj-carter-team.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>