<?xml version="1.0" encoding="utf-8"?>
<Media Key="733bbdb5-2d86-4af4-b7da-2df317812140" Alias="Aj-carter-team.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AjCarterTeamsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:12:48</CreateDate>
    <NodeName Default="Aj-carter-team.svg (1)" />
    <SortOrder>94</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i2ajtem3/aj-carter-team.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>