<?xml version="1.0" encoding="utf-8"?>
<Media Key="004aa2f1-971c-4c74-a009-83fc566c0427" Alias="big-image-card-1.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bigImageCard1svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:51:58</CreateDate>
    <NodeName Default="big-image-card-1.svg (1)" />
    <SortOrder>69</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/amppryqh/big-image-card-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>