<?xml version="1.0" encoding="utf-8"?>
<Media Key="8882ae10-5750-45f2-a8ed-b2c8c47610f4" Alias="big-image-card-1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bigImageCard1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T11:44:11</CreateDate>
    <NodeName Default="big-image-card-1.svg" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2ijda0sl/big-image-card-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>