<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f43e58f-d18b-473c-89e8-3aa308a0c4fc" Alias="blonde_girl_during_meeting.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/blonde_girl_during_meetingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T16:06:09</CreateDate>
    <NodeName Default="blonde_girl_during_meeting.svg" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pvmod5mq/blonde_girl_during_meeting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>