<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b814392-dc4c-43f4-a0da-98fdd94235bd" Alias="blonde_girl_during_meeting.svg (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/blonde_girl_during_meetingsvg2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T15:44:47</CreateDate>
    <NodeName Default="blonde_girl_during_meeting.svg (2)" />
    <SortOrder>116</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/md5chskx/blonde_girl_during_meeting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>