<?xml version="1.0" encoding="utf-8"?>
<Media Key="9af893b0-b911-40dc-aa36-ed1329a9eac1" Alias="blonde_girl_during_meeting.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/blonde_girl_during_meetingsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:53:07</CreateDate>
    <NodeName Default="blonde_girl_during_meeting.svg (1)" />
    <SortOrder>71</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iixfu4ak/blonde_girl_during_meeting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>