<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d568ad6-b627-458b-be9e-efac8cc6ee67" Alias="Brandon-newton-team.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandonNewtonTeamsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T12:11:06</CreateDate>
    <NodeName Default="Brandon-newton-team.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eq1pjdz2/brandon-newton-team.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>