<?xml version="1.0" encoding="utf-8"?>
<Media Key="27a4af38-48f4-41df-9a8a-b9b54c3f34ce" Alias="Brandon-kerr-member.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandonKerrMembersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T12:46:57</CreateDate>
    <NodeName Default="Brandon-kerr-member.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zijanrpp/brandon-kerr-member.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>