<?xml version="1.0" encoding="utf-8"?>
<Media Key="6330ee40-78c9-4139-992d-7f069fddc9e4" Alias="Brandon-newton-team.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandonNewtonTeamsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:12:33</CreateDate>
    <NodeName Default="Brandon-newton-team.svg (1)" />
    <SortOrder>93</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wjjjfaos/brandon-newton-team.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>