<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb5ad7c9-e940-4c72-abdf-2c58238047dc" Alias="Brandon-kerr-member.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandonKerrMembersvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:15:14</CreateDate>
    <NodeName Default="Brandon-kerr-member.svg (1)" />
    <SortOrder>97</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hnvpqck1/brandon-kerr-member.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>