<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc5b16cf-7a8d-4ed7-a8f8-95b3ec46d501" Alias="card-1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/card1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-08T21:13:44</CreateDate>
    <NodeName Default="card-1.svg" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hwvpspuw/card-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>