<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ed55301-93d3-4fc7-9073-42e2313eee3f" Alias="CEO-Portrait.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CEOPortraitsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T11:41:43</CreateDate>
    <NodeName Default="CEO-Portrait.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4pxho5gi/ceo-portrait.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>