<?xml version="1.0" encoding="utf-8"?>
<Media Key="32d42c18-ea73-4ad5-bb87-82395434daf3" Alias="CEO-Portrait.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CEOPortraitsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T23:17:26</CreateDate>
    <NodeName Default="CEO-Portrait.svg (1)" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3kihnudi/ceo-portrait.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>