<?xml version="1.0" encoding="utf-8"?>
<Media Key="93ef8f0a-a6c5-4d94-85f1-f4cb06bf7b12" Alias="CEO-Portrait.svg (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CEOPortraitsvg2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:10:27</CreateDate>
    <NodeName Default="CEO-Portrait.svg (2)" />
    <SortOrder>91</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5aze02o4/ceo-portrait.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>