<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d9480c8-71d8-4b75-a0c8-141addf22179" Alias="Dotted-backround.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DottedBackroundsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:08:22</CreateDate>
    <NodeName Default="Dotted-backround.svg (1)" />
    <SortOrder>86</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hi4dm14d/dotted-backround.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>