<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0e0d1d8-e71f-4f60-9427-3f017ab0b419" Alias="Dotted-backround.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DottedBackroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T14:22:46</CreateDate>
    <NodeName Default="Dotted-backround.svg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fjweeuqe/dotted-backround.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>