<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb2a173b-7a8c-4b7c-842f-a62b8b23f9df" Alias="favicon.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/faviconsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:33:56</CreateDate>
    <NodeName Default="favicon.svg" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zgviqkmx/favicon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>