<?xml version="1.0" encoding="utf-8"?>
<Media Key="816c6a68-1dbb-4050-8e2a-de599e2dba5c" Alias="finger-touches-screen.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/fingerTouchesScreensvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:46:01</CreateDate>
    <NodeName Default="finger-touches-screen.svg (1)" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tlln2y3a/finger-touches-screen.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>