<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9b5697e-e64e-487b-83e8-a06a62e67059" Alias="finger-touches-screen.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/fingerTouchesScreensvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T13:08:29</CreateDate>
    <NodeName Default="finger-touches-screen.svg" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rtkboo0v/finger-touches-screen.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>