<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4a60ebe-3276-4fa6-a53b-5414575d787b" Alias="focused_couple.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/focused_couplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T16:05:24</CreateDate>
    <NodeName Default="focused_couple.svg" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jszbivtn/focused_couple.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>