<?xml version="1.0" encoding="utf-8"?>
<Media Key="37ea484a-1fee-4c56-ac38-fafa7190d648" Alias="focused-couple.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/focusedCouplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T16:02:42</CreateDate>
    <NodeName Default="focused-couple.svg" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xd0frvpv/focused-couple.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>