<?xml version="1.0" encoding="utf-8"?>
<Media Key="289658fd-9787-401e-91af-7c014a7e1940" Alias="girl laughing to guy showing computer.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/girlLaughingToGuyShowingComputersvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:12:48</CreateDate>
    <NodeName Default="girl laughing to guy showing computer.svg (1)" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b5sdjsu2/girl-laughing-to-guy-showing-computer.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>