<?xml version="1.0" encoding="utf-8"?>
<Media Key="39890579-a03d-4066-b56f-a0c2afed7074" Alias="girl laughing to guy showing computer.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/girlLaughingToGuyShowingComputersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-08T14:31:49</CreateDate>
    <NodeName Default="girl laughing to guy showing computer.svg" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ro2cxwzg/girl-laughing-to-guy-showing-computer.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>