<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb936c33-3d14-4244-b247-f9cbf2d5626e" Alias="girl working on stairs.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/girlWorkingOnStairssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-08T14:19:21</CreateDate>
    <NodeName Default="girl working on stairs.svg" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yhidcgip/girl-working-on-stairs.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>