<?xml version="1.0" encoding="utf-8"?>
<Media Key="89ec5a34-c633-48d8-b1b6-b70c4b8929b0" Alias="girl laughing to guy showing computer.svg (3)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/girlLaughingToGuyShowingComputersvg3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:01:50</CreateDate>
    <NodeName Default="girl laughing to guy showing computer.svg (3)" />
    <SortOrder>81</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y1tf20zi/girl-laughing-to-guy-showing-computer.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>