<?xml version="1.0" encoding="utf-8"?>
<Media Key="3110cc06-da0f-4912-aa9d-64251400e642" Alias="girl working on stairs.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/girlWorkingOnStairssvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:48:54</CreateDate>
    <NodeName Default="girl working on stairs.svg (1)" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4rylfuyu/girl-working-on-stairs.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>