<?xml version="1.0" encoding="utf-8"?>
<Media Key="9617fdce-995e-4c5a-af14-4cde89c35c1f" Alias="girl laughing to guy showing computer.svg (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/girlLaughingToGuyShowingComputersvg2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:48:01</CreateDate>
    <NodeName Default="girl laughing to guy showing computer.svg (2)" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hralk3cf/girl-laughing-to-guy-showing-computer.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>