<?xml version="1.0" encoding="utf-8"?>
<Media Key="42d869d3-1f26-415c-8eac-4798e1571461" Alias="Globe-left.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobeLeftsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:09:16</CreateDate>
    <NodeName Default="Globe-left.svg (1)" />
    <SortOrder>89</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ehkhvib3/globe-left.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>