<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ec7b564-0be8-4a00-b56a-b5b618102fc9" Alias="Globe-left.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobeLeftsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T12:01:06</CreateDate>
    <NodeName Default="Globe-left.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/syeglhht/globe-left.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>