<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3c11561-5f27-4206-b903-397aa25b8890" Alias="Globe-right.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobeRightsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T11:56:21</CreateDate>
    <NodeName Default="Globe-right.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/souggqj2/globe-right.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>