<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd69d77e-6c38-4b81-9f5d-c75f3ecce0bd" Alias="Globe-right.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobeRightsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:09:31</CreateDate>
    <NodeName Default="Globe-right.svg (1)" />
    <SortOrder>90</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rrvmwpzd/globe-right.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>