<?xml version="1.0" encoding="utf-8"?>
<Media Key="47bb2957-99b4-42f8-800a-bcada83aff02" Alias="green-background-slope.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/greenBackgroundSlopesvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:08:32</CreateDate>
    <NodeName Default="green-background-slope.svg (1)" />
    <SortOrder>87</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uwkbtjnp/green-background-slope.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>