<?xml version="1.0" encoding="utf-8"?>
<Media Key="2df10ba2-2ddd-4619-b891-cdd1554d788d" Alias="green-background-slope.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/greenBackgroundSlopesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T14:22:59</CreateDate>
    <NodeName Default="green-background-slope.svg" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kc1fht4g/green-background-slope.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>