<?xml version="1.0" encoding="utf-8"?>
<Media Key="292b8062-6a0e-450e-ac57-e039db3abc4a" Alias="hero-background.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heroBackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:17:01</CreateDate>
    <NodeName Default="hero-background.svg" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sa4jtsyv/hero-background.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>