<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9aeb154-9af5-48bb-a0ea-b1065f2f3f01" Alias="hero-background.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heroBackgroundsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T17:40:09</CreateDate>
    <NodeName Default="hero-background.svg (1)" />
    <SortOrder>106</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uygayc5o/hero-background.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>