<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7e62506-53a1-44d6-9426-773e141ea83b" Alias="kevin-gardner.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:49:46</CreateDate>
    <NodeName Default="kevin-gardner.svg (1)" />
    <SortOrder>66</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4smeijn0/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>