<?xml version="1.0" encoding="utf-8"?>
<Media Key="64fab7aa-6200-456d-8168-71c2036c2daf" Alias="Kevin-Gardner-member.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KevinGardnerMembersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T12:48:34</CreateDate>
    <NodeName Default="Kevin-Gardner-member.svg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/laffrbq1/kevin-gardner-member.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>