<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed6ab170-0a68-47de-bb88-87c839a54efd" Alias="Kevin-Gardner-member.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KevinGardnerMembersvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:15:40</CreateDate>
    <NodeName Default="Kevin-Gardner-member.svg (1)" />
    <SortOrder>99</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qigmqd1t/kevin-gardner-member.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>