<?xml version="1.0" encoding="utf-8"?>
<Media Key="33e1ad0d-296c-4b30-a738-6b5bb4efa955" Alias="logo6.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo6svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:17:43</CreateDate>
    <NodeName Default="logo6.svg (1)" />
    <SortOrder>105</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/52iehulx/logo6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>