<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f33a7a0-43e9-4457-b274-9e9a5bb3d472" Alias="logo5.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T10:29:40</CreateDate>
    <NodeName Default="logo5.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kinjddps/logo5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>