<?xml version="1.0" encoding="utf-8"?>
<Media Key="a215ee5c-b8c6-4508-a4b8-ad2ef8705432" Alias="logo1.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo1svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:16:35</CreateDate>
    <NodeName Default="logo1.svg (1)" />
    <SortOrder>100</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vzjloqg3/logo1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>