<?xml version="1.0" encoding="utf-8"?>
<Media Key="071ffea1-4d64-4de6-a93a-c7127ff84a07" Alias="logo5.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo5svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:17:30</CreateDate>
    <NodeName Default="logo5.svg (1)" />
    <SortOrder>104</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/knbl1zl5/logo5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>