<?xml version="1.0" encoding="utf-8"?>
<Media Key="f81023d6-bdd2-469a-b1bc-96eeaa490ddb" Alias="logo4.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo4svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:17:15</CreateDate>
    <NodeName Default="logo4.svg (1)" />
    <SortOrder>103</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/esplegwj/logo4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>