<?xml version="1.0" encoding="utf-8"?>
<Media Key="b732245f-110c-4652-9644-f12e0e52cf80" Alias="logo2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T10:28:18</CreateDate>
    <NodeName Default="logo2.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vwmjavix/logo2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>