<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b2a800a-579f-4f07-a728-46fbd52e477c" Alias="logo3.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo3svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:17:00</CreateDate>
    <NodeName Default="logo3.svg (1)" />
    <SortOrder>102</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5a4jrwme/logo3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>