<?xml version="1.0" encoding="utf-8"?>
<Media Key="9068ee61-ad74-4544-906c-bef095510ff4" Alias="logo1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T10:27:45</CreateDate>
    <NodeName Default="logo1.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/snjnu2tp/logo1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>