<?xml version="1.0" encoding="utf-8"?>
<Media Key="e24aa653-cdea-4a27-998c-35c6bd423fe0" Alias="logo2.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo2svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:16:48</CreateDate>
    <NodeName Default="logo2.svg (1)" />
    <SortOrder>101</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uenpqahr/logo2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>