<?xml version="1.0" encoding="utf-8"?>
<Media Key="f66bcaa0-9b62-4a76-8fcc-b8e103d7e0d4" Alias="logo6.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T10:30:12</CreateDate>
    <NodeName Default="logo6.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kj1nsfdz/logo6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>