<?xml version="1.0" encoding="utf-8"?>
<Media Key="34aac777-61bf-4f44-ace2-0ea4f19db4f7" Alias="Logo-onatrix.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoOnatrixsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:24:21</CreateDate>
    <NodeName Default="Logo-onatrix.svg" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qv3arvve/logo-onatrix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>