<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f79410f-f77b-43b7-96c7-ed477a00bd9a" Alias="logo3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T10:28:47</CreateDate>
    <NodeName Default="logo3.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5x4nxtla/logo3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>