<?xml version="1.0" encoding="utf-8"?>
<Media Key="e99bc990-e963-4048-86ca-e5018b13b93e" Alias="logo4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T10:29:12</CreateDate>
    <NodeName Default="logo4.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mj0dsc1y/logo4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>