<?xml version="1.0" encoding="utf-8"?>
<Media Key="40509864-332e-485f-a6c0-fea5e5657e1d" Alias="map 1.svg (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T13:29:22</CreateDate>
    <NodeName Default="map 1.svg (2)" />
    <SortOrder>114</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/syspfirv/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>