<?xml version="1.0" encoding="utf-8"?>
<Media Key="205d98dc-c22e-401f-904f-e642ab95c792" Alias="map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:04:24</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fysp5qrv/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>