<?xml version="1.0" encoding="utf-8"?>
<Media Key="c03eda7b-c7ff-4053-a2a3-a8319cec0763" Alias="map 1.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:07:31</CreateDate>
    <NodeName Default="map 1.svg (1)" />
    <SortOrder>85</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rftjyixe/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>