<?xml version="1.0" encoding="utf-8"?>
<Media Key="38a43d51-af49-4012-a466-ffd9353e84ae" Alias="map 1.svg (3)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T13:32:31</CreateDate>
    <NodeName Default="map 1.svg (3)" />
    <SortOrder>115</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uoaanwss/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>