<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3fa24e9-63ca-459f-acf5-04f710d805d6" Alias="Miranda-dayton-member.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MirandaDaytonMembersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T12:47:37</CreateDate>
    <NodeName Default="Miranda-dayton-member.svg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/domfqior/miranda-dayton-member.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>