<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c3fdd3b-a76c-477c-876a-1de9bdf8ffc0" Alias="Miranda-dayton-member.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MirandaDaytonMembersvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:15:27</CreateDate>
    <NodeName Default="Miranda-dayton-member.svg (1)" />
    <SortOrder>98</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zfqj1htx/miranda-dayton-member.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>