<?xml version="1.0" encoding="utf-8"?>
<Media Key="c27abdca-36e3-4a72-b71a-fe394357789b" Alias="multi-cultural-staff.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/multiCulturalStaffsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T11:45:08</CreateDate>
    <NodeName Default="multi-cultural-staff.svg" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/haanqihy/multi-cultural-staff.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>