<?xml version="1.0" encoding="utf-8"?>
<Media Key="853b313a-9ce5-4221-9107-c64c0dcabca7" Alias="multi-cultural-staff.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/multiCulturalStaffsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:52:26</CreateDate>
    <NodeName Default="multi-cultural-staff.svg (1)" />
    <SortOrder>70</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zcgjsz54/multi-cultural-staff.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>