<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d294ee0-7211-434b-b8fd-60cec4591f6a" Alias="next-project-portrait.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nextProjectPortraitsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:08:45</CreateDate>
    <NodeName Default="next-project-portrait.svg (1)" />
    <SortOrder>88</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/clzjw5yk/next-project-portrait.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>