<?xml version="1.0" encoding="utf-8"?>
<Media Key="76176ea4-ca68-494a-94ad-377833f8cb36" Alias="next-project-portrait.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nextProjectPortraitsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T14:23:11</CreateDate>
    <NodeName Default="next-project-portrait.svg" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k1jllfdt/next-project-portrait.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>