<?xml version="1.0" encoding="utf-8"?>
<Media Key="08c047de-8a14-47c9-a20f-c08b39f5fd66" Alias="our-story.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourStorysvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:57:23</CreateDate>
    <NodeName Default="our-story.svg (1)" />
    <SortOrder>75</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ft3gf0qp/our-story.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>