<?xml version="1.0" encoding="utf-8"?>
<Media Key="580ff55e-638b-4c69-8401-48b7e00d5425" Alias="our-story.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourStorysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T16:05:40</CreateDate>
    <NodeName Default="our-story.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vrek1ouq/our-story.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>