<?xml version="1.0" encoding="utf-8"?>
<Media Key="8960d066-eb66-4a7e-940f-08a518dbc685" Alias="our-story-globe.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourStoryGlobesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T16:08:05</CreateDate>
    <NodeName Default="our-story-globe.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/srwne013/our-story-globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>