<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed50233e-88d4-41f5-8392-fc12a03bd8a4" Alias="our-story-globe.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourStoryGlobesvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:57:46</CreateDate>
    <NodeName Default="our-story-globe.svg (1)" />
    <SortOrder>76</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zspped4p/our-story-globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>