<?xml version="1.0" encoding="utf-8"?>
<Media Key="a105636f-9e8b-4313-95f8-adf301e74efd" Alias="projects-4.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projects4svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T13:22:00</CreateDate>
    <NodeName Default="projects-4.svg (1)" />
    <SortOrder>112</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/txpkoq2q/projects-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>