<?xml version="1.0" encoding="utf-8"?>
<Media Key="f657cccb-e9dc-4d6d-9dfc-3ee0c6ff827c" Alias="projects-2.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projects2svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T13:21:13</CreateDate>
    <NodeName Default="projects-2.svg (1)" />
    <SortOrder>111</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hfypkfgh/projects-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>