<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0e24b2f-a744-4c59-862a-c0bcf96aa6eb" Alias="projects-1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projects1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:42:46</CreateDate>
    <NodeName Default="projects-1.svg" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1x1eaus5/projects-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>