<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f70961d-8b5c-46e4-8499-c3511703db7e" Alias="projects-3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projects3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:43:43</CreateDate>
    <NodeName Default="projects-3.svg" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/32vnf1kh/projects-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>