<?xml version="1.0" encoding="utf-8"?>
<Media Key="04f96b8d-ca4c-40fa-a60a-ce186041eff9" Alias="projects-1.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projects1svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T13:20:46</CreateDate>
    <NodeName Default="projects-1.svg (1)" />
    <SortOrder>110</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p5lfxzsx/projects-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>