<?xml version="1.0" encoding="utf-8"?>
<Media Key="c777c0d6-b610-4ccf-aa7e-6adb55adf90d" Alias="project4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/project4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T07:15:36</CreateDate>
    <NodeName Default="project4.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/er4nkjil/project4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>