<?xml version="1.0" encoding="utf-8"?>
<Media Key="42a0935d-aec6-4e34-a71e-a702615fde9d" Alias="projects-4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projects4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:44:03</CreateDate>
    <NodeName Default="projects-4.svg" />
    <SortOrder>61</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v2xafig3/projects-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>