<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f151ac2-0c86-4086-8709-a122270969f9" Alias="project3.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/project3svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:05:07</CreateDate>
    <NodeName Default="project3.svg (1)" />
    <SortOrder>83</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gctlppm3/project3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>