<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cc86c6b-502e-4bac-a31e-cc13784566f0" Alias="project1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/project1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T07:12:35</CreateDate>
    <NodeName Default="project1.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/thihu1rv/project1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>