<?xml version="1.0" encoding="utf-8"?>
<Media Key="620d6ed5-a4d2-45d3-a091-361d18883e52" Alias="project2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/project2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T07:14:05</CreateDate>
    <NodeName Default="project2.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e5jl5agj/project2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>