<?xml version="1.0" encoding="utf-8"?>
<Media Key="b29e64da-58b1-4ad5-abf7-a3b33e35fa9e" Alias="project4.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/project4svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:50:23</CreateDate>
    <NodeName Default="project4.svg (1)" />
    <SortOrder>67</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fdmdyufk/project4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>