<?xml version="1.0" encoding="utf-8"?>
<Media Key="818e30ca-07c6-4fcc-81f1-53d680a519df" Alias="projects-3.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projects3svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T13:22:41</CreateDate>
    <NodeName Default="projects-3.svg (1)" />
    <SortOrder>113</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hcgdyy43/projects-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>