<?xml version="1.0" encoding="utf-8"?>
<Media Key="86e98038-054b-4b0b-aa28-8f5db73fcc51" Alias="project1.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/project1svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:00:12</CreateDate>
    <NodeName Default="project1.svg (1)" />
    <SortOrder>79</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zi4fwzcq/project1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>