<?xml version="1.0" encoding="utf-8"?>
<Media Key="db54b751-99ad-4cdd-a7b0-5fe73d59ec3c" Alias="project2.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/project2svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:03:34</CreateDate>
    <NodeName Default="project2.svg (1)" />
    <SortOrder>82</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/umfpmonw/project2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>