<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5de42a8-ec98-4d0a-88fb-4e398a5a8659" Alias="project3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/project3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T07:15:01</CreateDate>
    <NodeName Default="project3.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ll5hyf2d/project3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>