<?xml version="1.0" encoding="utf-8"?>
<Media Key="112522f9-015a-4fab-9611-5833d06893c9" Alias="realmailimage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/realmailimagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T16:10:34</CreateDate>
    <NodeName Default="realmailimage.svg" />
    <SortOrder>118</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bopjp20b/realmailimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>