<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bc2e213-b48c-46dd-9deb-d243f678a822" Alias="Signature.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signaturesvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:46:52</CreateDate>
    <NodeName Default="Signature.svg (1)" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2fphb4mx/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>