<?xml version="1.0" encoding="utf-8"?>
<Media Key="04603025-57d5-453a-81ed-811ddb76816b" Alias="Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T14:41:33</CreateDate>
    <NodeName Default="Signature.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/04gnfzwo/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>