<?xml version="1.0" encoding="utf-8"?>
<Media Key="8191d3c5-20c1-4925-aa34-59a9cb0eac9a" Alias="smiling_man_presenting.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/smiling_man_presentingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T16:04:17</CreateDate>
    <NodeName Default="smiling_man_presenting.svg" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g3xdgy40/smiling_man_presenting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>