<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ccbf946-f594-4d33-9449-4d1c178b2114" Alias="smiling_man_presenting.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/smiling_man_presentingsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:55:55</CreateDate>
    <NodeName Default="smiling_man_presenting.svg (1)" />
    <SortOrder>74</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wrcgtpup/smiling_man_presenting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>