<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f9294f7-bba1-4a2f-9060-95173a73adf8" Alias="staff-meeting.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/staffMeetingsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:59:22</CreateDate>
    <NodeName Default="staff-meeting.svg (1)" />
    <SortOrder>78</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/auudb5n0/staff-meeting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>