<?xml version="1.0" encoding="utf-8"?>
<Media Key="b56a6b83-9681-4301-9e14-98a93e03b45d" Alias="staff-meeting.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/staffMeetingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T16:47:54</CreateDate>
    <NodeName Default="staff-meeting.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ohlmqv20/staff-meeting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>