<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b49b35c-36ff-4d88-b33b-c37ab26e6ac2" Alias="star.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/starsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:11:57</CreateDate>
    <NodeName Default="star.svg (1)" />
    <SortOrder>92</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vyhoxope/star.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>