<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f2aa1bc-adfb-441a-b38a-379aeb4ddaff" Alias="star.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/starsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T10:37:08</CreateDate>
    <NodeName Default="star.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jyoirhpa/star.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>