<?xml version="1.0" encoding="utf-8"?>
<Media Key="5adbf82d-2450-4a2c-8ee8-40f1e26d49bd" Alias="success-story-globe.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successStoryGlobesvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:58:28</CreateDate>
    <NodeName Default="success-story-globe.svg (1)" />
    <SortOrder>77</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/13chtocl/success-story-globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>