<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9fec828-2647-418c-8ba9-d6d5625ed955" Alias="success-story-globe.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successStoryGlobesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T16:43:31</CreateDate>
    <NodeName Default="success-story-globe.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1j0fyc02/success-story-globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>