<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f31143e-940c-44fe-adc4-531bf2fdc27f" Alias="Tina-fox-member.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaFoxMembersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T12:49:12</CreateDate>
    <NodeName Default="Tina-fox-member.svg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zsujhtix/tina-fox-member.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>