<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c638f2e-549b-489a-a5b0-d91b35ee7932" Alias="Tina-fox-member.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaFoxMembersvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T15:14:59</CreateDate>
    <NodeName Default="Tina-fox-member.svg (1)" />
    <SortOrder>96</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1qzmddua/tina-fox-member.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>