<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bd437fa-8ae0-4192-add2-dc966ce98f3b" Alias="working-couple.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/workingCouplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T14:55:20</CreateDate>
    <NodeName Default="working-couple.svg" />
    <SortOrder>73</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bcfhn4p1/working-couple.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>