<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d1fd43d-429b-49cd-b3ca-4b1026e60005" Alias="working-couple.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/workingCouplesvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T12:54:18</CreateDate>
    <NodeName Default="working-couple.svg (1)" />
    <SortOrder>109</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z3ul1h2a/working-couple.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>